header, nav, footer{
    background-color: rgb(99, 6, 99);
    color: green;
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-decoration: underline;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: green;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

nav ul li{
    padding: 0 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

#content{
    flex: 1;
    display: flex;
}

main{
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

aside{
    width: 20%;
    background-color: darkgray;
    box-sizing: border-box;
    padding: 20px;
}

footer{
    padding: 20px;
}

ul.category-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    
}



ul.category-list-li li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    padding: 10px;
    width: 30%;
    
}

ul.category-list li{
    text-align: center;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    padding: 10px;
    width: 30%;
    list-style-type: none;
}

#teamName{
    font-size: 60px;
}

#tPrice{
    text-align: bottom;
}

img{
    width: 50%;
    object-fit: cover;
}

@media all and (max-width:800px){
    #content{
        display: block;
    }
    aside, main{
        width: 100%;
    }
}